<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
		<h1>2018 NBA Scores REST API</h1>
		<h3>By Daniel Lee</h3>
		<h3>January 4, 2019</h3>
		<h2>Description</h2>
		<p>This is a simple REST API that receives GET requests from the client and retrieves 2018 National Basketball Association (NBA) scores.</p> 
		<h2>Implementation</h2>
		<p>The data was obtained through web scraping espn.com website using Python, Scrapy, and Splash. The data was stored in a MongoDB database. The REST API was implemented using Python and Flask.</p>
	</body>
</html>
