<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
		<h1>2018 NBA Scores REST API</h1>
		<h3>By Daniel Lee</h3>
		<h3>January 4, 2019</h3>
		<h2>Description</h2>
		<p>This is a simple REST API that receives GET requests from the client and retrieves 2018 National Basketball Association (NBA) scores.</p> 
		<h2>Data Scraping Implementation</h2>
		<p>The data is obtained through scraping the <a href="http://www.espn.com">espn.com</a> website using Python (v. 3.6.7), Scrapy (v. 1.5.1), and Splash (v. 0.7.2). The data was stored in a MongoDB database. The web scraping app is deployed on Heroku. You can find the code <a href="https://github.com/danielhanbitlee/scrape_nba_scores">here</a>.</p>
		<h2>REST API Implementation</h2>
		<p> The REST API was implemented using Python and Flask.</p>
	</body>
</html>
